<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../partials/head') %>
    <link rel="stylesheet" href="/css/styles-creUpDelProduct.css" />
  </head>
  <body>
    <header class="header">
      <div>
        <!-- logo de encabezado -->
        <a href="/"
          ><img class="logo" src="/img/logo.svg" alt="Logo de UniFi"
        /></a>
      </div>

      <h1 class="header-title">Create New Product</h1>
    </header>

    <form
      action="/markets/<%= asset.type %>/<%= asset.id %>?_method=PUT"
      method="POST"
    >
      <div class="form">
        <input
          type="text"
          name="id"
          placeholder="ID"
          class="input"
          value="<%= asset.id %>"
        />
        <input
          type="text"
          name="name"
          placeholder="Name"
          class="input"
          value="<%= asset.name %>"
        />
        <select name="type" id="type" class="select">
          <option value=""></option>
          <option value="cryptocurrencies">cryptocurrencies</option>
          <option value="stocks">stocks</option>
        </select>
        <input
          type="text"
          name="ticker"
          placeholder="Ticker"
          class="input"
          value="<%= asset.ticker %>"
        />
        <input
          type="text"
          name="price"
          placeholder="Price"
          class="input"
          value="<%= asset.price %>"
        />
        <input
          type="number"
          step="0.01"
          name="change"
          placeholder="Change"
          class="input"
          value="<%= asset.change %>"
        />
        <div class="input-file">
          <input type="file" name="logo" id="" class="input-file-button" />
        </div>
        <input
          type="text"
          name="mcap"
          placeholder="Market Cap"
          class="input"
          value="<%= asset.mcap %>"
        />
        <input type="submit" value="Load product" class="load-product" />
      </div>
    </form>

    <footer class="footer"><%- include('../partials/footer') %></footer>
  </body>
</html>
