<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head') %>
    <link rel="stylesheet" href="/css/styles-markets.css"> 
</head>
<body>
    <header class="main-header bg-dark-gray">
        <%- include('../partials/header') %> 
    </header>

    <main>
        <div class="main-container">
            <section class="slider-container">
                <div class="slider">
                    <div class="slide-track">
                        <!-- si el activo tiene un logo svg (es decir, escalable), lo agrega al slider -->
                        <% for (let asset of cryptoList.concat(stockList)) {%>
                           <%   if (asset.logo.includes('svg')) {%>
                            <div class="slide">
                                <a class="no-link" href="/markets/<%= asset.type %>/<%= asset.name %>"><img class="slide-img" src="<%= asset.logo %> " alt="<%= asset.ticker %> Logo "></a>
                            </div>
                            <% } %>
                        <% } %> 
                    </div>
                </div>
            </section>
    
            <section class="explore">
                <h1>Markets</h1>
                <section>
                    <div class="cards-container">
                        <a class="no-link" href="/markets/cryptocurrencies">
                            <article class="card bg-gray market-card">
                                <h2>Cryptocurrencies</h2>
                                <div class="card-title">
                                    <img src="/img/stocks2.svg" alt="Crypto Logo">
                                </div>
                            </article>
                        </a>
                        <a class="no-link" href="/markets/stocks">
                            <article class="card bg-gray market-card">
                                <h2>Stocks</h2>
                                <div class="card-title">
                                    <img src="/img/crypto2.svg" alt="Crypto Logo">
                                </div>
                            </article>
                        </a>
                    </div>
                </section>
                <h2>Highlighted Assets</h2>
                <section>
                    <div class="cards-container">
                        <a class="no-link" href="/markets/<%= mainGainers[0].type%>/<%= mainGainers[0].name  %>">
                            <article class="card bg-gray">
                                <h3>Main Gainer (24h) </h3>
                                <div class="card-title">
                                    <img src="<%= mainGainers[0].logo %>" alt="<%= mainGainers[0].name %> Logo">
                                    <%= mainGainers[0].name %>
                                    <span class="percentage-change green"><%= mainGainers[0].change %>%</span>
                                </div>
                                <p class="price"><%= mainGainers[0].price %></p>
                            </article>
                        </a>
                        <a class="no-link" href="/markets/<%= mainLosers[0].type%>/<%= mainLosers[0].name  %>">
                            <article class="card bg-gray">
                                <h3>Main Loser (24h) </h3>
                                <div class="card-title">
                                    <img src="<%= mainLosers[0].logo %>" alt="<%= mainLosers[0].name %> Logo">
                                    <%= mainLosers[0].name %>
                                    <span class="percentage-change red"><%= mainLosers[0].change %>%</span>
                                </div>
                                <p class="price"><%= mainLosers[0].price %></p>
                            </article>
                        </a>
                    </div>
                </section>
            </section>
            <h2>Copy the portfolio of our professional traders!</h2>
            <section class="copy-trader">
                <article class="copy-cards">
                    <img src="/img/lucas.jpg" alt="Trader Lucas">
                    <div class="text">
                        <p class="bold">LucasGallina</p>
                        <div>
                            <div>
                                <span class="green bold">54k</span>
                                <span class="bold">Users</span>
    
                            </div>
                            <div>
                                <span class="green bold">20%</span>
                                <span class="bold">Performance</span>
                            </div>
                        </div>
                    </div>
                </article>
                <article class="copy-cards">
                    <img src="/img/tato.jpg" alt="Trader Tato">
                    <div class="text">
                        <p class="bold">Tato</p>
                        <div>
                            <div>
                                <span class="green bold">20k</span>
                                <span class="bold" >Users</span>
                    
                            </div>
                            <div>
                                <span class="green bold">50%</span>
                                <span class="bold" >Performance</span>
                            </div>
                        </div>
                    </div>
                </article>
                <article class="copy-cards">
                    <img src="/img/dario.jpg" alt="Trader Dario">
                    <div class="text">
                        <p class="bold">Darioque</p>
                        <div>
                            <div>
                                <span class="green bold">10</span>
                                <span class="bold" >Users</span>
                    
                            </div>
                            <div>
                                <span class="red bold">-20%</span>
                                <span class="bold" >Performance</span>
                            </div>
                        </div>
                    </div>
                </article>
                <article class="copy-cards">
                    <img src="/img/fede.jpg" alt="Trader Fede">
                    <div class="text">
                        <p class="bold">Fede Loro Meyer</p>
                        <div>
                            <div>
                                <span class="green bold">180k</span>
                                <span class="bold" >Users</span>
                    
                            </div>
                            <div>
                                <span class="green bold">95%</span>
                                <span class="bold" >Performance</span>
                            </div>
                        </div>
                    </div>
                </article>
            </section>
        </div>
    </main>

    <footer class="footer bg-dark-gray">
        <%- include('../partials/footer') %> 
    </footer>
</body>
</html>