<!DOCTYPE html>
<html lang="en">
<head>
    <%- include ('../partials/head') %> 
    <link rel="stylesheet" href="/css/styles-productList.css" />
</head>
<body>
    <header class="bg-dark-gray main-header">
        <%- include ('../partials/header') %>
    </header>
    <main>
        <section>
            <ul class="no-list">
                <li>
                    <a class="no-link" href="/markets/"><span>markets</span></a>
                </li>
                <li>
                    <i class="fas fa-chevron-right"></i>
                    <a class="no-link" href="/markets/<%= marketType %>"><span><%= marketType %></span></a>
                </li>
            </ul>
            <div>

            </div>
        </section>
        <section>
            <h1>Explore <%=marketType %>  </h1>
            <div class="cards-container">
                <div class="card-title">
                    <i class="fas fa-arrow-circle-down"></i>
                    <h2>Biggest Gainers</h2>
                </div>
                <div class="table">
                    <div>
                        <ol>
                            <% for (let i = 0; i != 10; i++) %> 
                        </ol>
                    </div>
                </div>
            </div>
        </section>
        <section>
            <ul class="list">
                <% for (asset of assetList) { %>
                    <% if (asset.type == marketType) {%>
                        <div class="list-items">
                            <img class="currency-logo" src="<%= asset.logo %>" alt="Logo de <%= asset.ticker %>"/>
                            <a class="no-link" href="/markets/<%= marketType %>/<%= asset.name%>"><li class="no-list"><%= asset.name%></li></a>
                        </div>
                    <% } %>
                <% } %> 
            </ul>
        </section>
    </main>
    <footer class="bg-dark-gray footer">
        <%- include ('../partials/footer') %> 
    </footer>
</body>
</html>