<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/head')%>
    <link rel="stylesheet" href="/css/styles-productDetail.css" />
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="/js/productDetail.js"></script>
</head>

<body class="body-container">
    <header class="main-header bg-dark-gray">
        <%- include('../partials/header') %>
    </header>
    <main>
        <div class="main-container">
            <ul class="no-list progressive-links">
                <li>
                    <a class="no-link" href="/markets/"><span>markets</span></a>
                    <i class="fas fa-chevron-right"></i>
                </li>
                <li>
                    <a class="no-link" href="/markets/<%= asset.nameType %>">
                        <span><%= nameType %></span>
                    </a>
                </li>
                <li>
                    <i class="fas fa-chevron-right"></i>
                    <a class="no-link" href="/markets/<%= asset.type %>/<%= asset.name %>"><span>
                            <%= asset.name %>
                        </span></a>
                </li>
            </ul>
            <div class="main-price">
                <div>
                    <img class="currency-logo" src="<%= asset.logo %>" alt="Logo de <%= asset.ticker %>" />
                </div>
                <h1 class="heading-font currency-title">
                    <%= asset.name %> (<%= asset.ticker %>) Price
                </h1>
                <% if (locals && locals.authenticatedUser) { %>
                    <a href="/markets/<%= asset.type %>/<%= asset.name %>/edit"><button type="button">Editar Producto</button></a>
                <% } %>          
                <div class="price-title">
                    <span>$<%= asset.price %> </span>
                    <%if (asset.change < 0) { %>
                        <span class="percentage-change red"><%= asset.price_change_24 %>%</span>
                        <% } else {%>
                            <span class="percentage-change green"><%= asset.price_change_24 %>%</span>
                            <% } %>
                </div>
            </div>
            <div class="content-container">
                <div class="chart">
                    <canvas id="myChart"></canvas>
                </div>
                <div>
                    <h3 class="converter-title">Buy <%= asset.ticker %>
                    </h3>
                    <div class="converter">
                        <form action="/markets/cryptocurrencies/<%= asset.name %>/trade-confirmation" method="POST" id="form"></form>
                            <div class="currency first-currency">
                                <img class="currency-logo" src="<%= asset.logo%>" alt="<%= asset.ticker %> logo" id="currencyLogo"> 
                                <p class="currency-title" id="currencyTitle">
                                    <%= asset.ticker %>
                                </p>
                                <div class="currency-input-div">
                                    <input class="currency-input" type="number" value="1" maxlength="8" id="amount">
                                </div>
                            </div>
                            <div class="currency second-currency">
                                <img class="currency-logo" src="/img/usd.svg" alt="USD logo">
                                <p class="currency-title">USD</p>
                                <div class="currency-input-div">
                                    <input class="currency-input" type="number" value=<%=asset.price%> maxlength="8" id="price" readonly>
                                </div>
                            </div>
                            <input type="image" id="myBtn" class="exchange-icon" src="/img/exchange.png" alt="Submit">
                            <div id="myModal" class="body-border modal">

                                <div class="modal-content">
                                    <header class="modal-header">
                                        <div class="logo">
                                            <a href="/"><img class="modal-img"src="/img/logo.svg" alt="Logo de UniFi" /></a>
                                        </div>
                                        <button><i class="fas fa-times close"></i></button>
                                    </header>
                                    <div class="subtitle">
                                        <h2>Trade confirmation</h2>
                                    </div>
                                    <div class="converter-container">
                                        <h3 class="converter-title">Do you accept this price?</h3>
                                        <form action="" method="get">
                                            <div class="modal-converter">
                                                <div class="currency first-currency">
                                                    <img class="currency-logo" src="<%= asset.logo %> " alt="BTC logo" id="confirmationCurrencyLogo">
                                                    <p class="currency-title" id="confirmationCurrencyTitle"></p>
                                                    <div class="currency-input-div">
                                                        <p class="currency-input" id="amountConfirmation"></p>
                                                    </div>
                                                </div>
                                                <div class="currency second-currency">
                                                    <img class="currency-logo" src="/img/usd.svg" alt="USD logo">
                                                    <p class="currency-title">USD</p>
                                                    <div class="currency-input-div">
                                                        <p class="currency-input" id="priceConfirmation"></p>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="sub-price">
                                                <h4>1 BTC = 60000 USD</h4>
                                            </div>
                                            <button class="confirm-button" type="submit">Confirm</button>
                                        </form>
                                    </div>

                                    <div class="chart">
                                        <img src="/img/chart.png" alt="BTC/USD Chart" />
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>

                    <div class="bg-dark-gray statistics-container">
                        <div class="price-statistics">
                            <h2>
                                <%= asset.ticker %> Price Statistics
                            </h2>
                            <div class="statistic">
                                <p>
                                    <%= asset.name %> Price
                                </p>
                                <p>$<%= asset.price %>
                                </p>
                            </div>
                            <div class="statistic">
                                <p>24H Price Change</p>
                                <p>$ <%= (asset.price * asset.price_change_24 / 100).toFixed(2) %> </p>
                            </div>
                            <div class="statistic">
                                <p>24h Low / High</p>
                                <p>$59,000 / $62,280</p>
                            </div>
                            <div class="statistic">
                                <p>Trading Volume</p>
                                <p>$30,000,000</p>
                            </div>
                            <div class="statistic">
                                <p>Market Cap</p>
                                <p>$<%= asset.mcap %></p>
                            </div>
                            <div class="statistic">
                                <p>Market Rank</p>
                                <p>#1</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
    <footer class="footer bg-dark-gray">
        <%- include('../partials/footer') %>
    </footer>
    
</body>

</html>