<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head') %>
    <link rel="stylesheet" href="/css/styles-creUpDelProduct.css">
</head>
<body>
    <header class="header bg-dark-gray">
        <%- include('../partials/header') %>
    </header>

    <main class="main-container">
        <ul class="no-list progressive-links">
            <li>
                <a class="no-link" href="/markets/"><span>markets</span></a>
                <i class="fas fa-chevron-right"></i>
            </li>
            <li>
                <a class="no-link" href="/markets/<%= marketType %>">
                    <span><%= marketType %></span>
                </a>
            </li>
            <li>
                <i class="fas fa-chevron-right"></i>
                <span>create</span>
            </li>
        </ul>
        <h1 class="text-center">Create New Product</h1>        
        <!-- Si se enviaron mensajes de error a la vista de registro, mostrarlos -->
        <% if (locals && locals.errorMessages) { %> 
            <% for(let error in errorMessages) { %>
            <p class="errors"><%= errorMessages[error].msg %> </p>
            <% } %> 
        <% } %> 
        <form action="/markets/<%= marketType %>/" method="POST" enctype="multipart/form-data">
            <div class="form">
                <input type="text" name="name" placeholder="Name" class="input">
                <select name="type_id" id="type_id" class="select">
                    <option value=""></option>
                    <option value="1" <%= marketType == 'cryptocurrencies'? "selected": null %> >cryptocurrencies</option>
                    <option value="2" <%= marketType == 'stocks'? "selected": null %>>stocks</option>
                </select>
                <input type="text" name="ticker" placeholder="Ticker" class="input">
                <input type="number" name="price" placeholder="Price" class="input">
                <input type="number" step="0.01" name="price_change_24" id="price_change_24" placeholder="Price change" class="input">
                <input type="number" name="supply" placeholder="Supply" class="input">
                <div class="input-file">
                    <input type="file" name="logo" id="logo" class="input-file-button">
                </div>
                <input type="number" name="mcap" placeholder="Market Cap" class="input">
                <input type="textarea" name="description" placeholder="Short description of the asset" class="input">
                <input type="submit" value="Load product" class="load-product">
            </div>
        </form>

    </main>

    <footer class="footer">
        <%- include('../partials/footer') %>
    </footer>

</body>
</html>