<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/head') %>
        <link rel="stylesheet" href="/css/styles-markets.css">
</head>

<body>
    <header class="main-header bg-dark-gray">
        <%- include('../partials/header') %>
    </header>

    <main>
        <div class="main-container">
            <section class="slider-container">
                <div class="slider">
                    <div class="slide-track">
                        <% for (let asset of assetList) {%>
                            <div class="slide">
                                <a class="no-link" href="/markets/<%= asset.type.name %>/<%= asset.id %>"><img
                                        class="slide-img" src="<%= asset.logo %> " alt="<%= asset.ticker %> Logo "></a>
                            </div>
                            <% } %>
                    </div>
                </div>
            </section>
            <ul class="no-list progressive-links">
                <li>
                    <a class="no-link" href="/"><span>Home</span></a>
                </li>
                <li>
                    <i class="fas fa-chevron-right"></i>
                    <a class="no-link" href="/markets/"><span>Markets</span></a>
                </li>
            </ul>
            <section class="explore">
                <h1>Markets</h1>
                <section>
                    <div class="cards-container">
                        <a class="no-link" href="/markets/cryptocurrencies">
                            <article class="card bg-gray market-card">
                                <h2 style="text-overflow: ellipsis;overflow: hidden;">Cryptocurrencies</h2>
                                <div class="card-title">
                                    <img src="/img/stocks2.svg" alt="Crypto Logo">
                                </div>
                            </article>
                        </a>
                        <a class="no-link" href="/markets/stocks">
                            <article class="card bg-gray market-card">
                                <h2>Stocks</h2>
                                <div class="card-title">
                                    <img src="/img/crypto2.svg" alt="Crypto Logo">
                                </div>
                            </article>
                        </a>
                    </div>
                </section>
                <h2>Highlighted Assets</h2>
                <section>
                    <div class="cards-container">
                        <a class="no-link" href="/markets/<%= mainGainer.type.name%>/<%= mainGainer.id  %>">
                            <article class="card bg-gray">
                                <h3>Main Gainer (24h) </h3>
                                <div class="card-title">
                                    <img src="<%= mainGainer.logo %>" alt="<%= mainGainer.name %> Logo">
                                    <%= mainGainer.name %>

                                        <span class="percentage-change green"><i class="fas fa-arrow-circle-up"
                                                style="margin-right: 4px;"></i>
                                            <%= mainGainer.price_change_24 %>%
                                        </span>
                                </div>
                                <p class="price">$<%= new Intl.NumberFormat().format(mainGainer.price) %>
                                </p>
                            </article>
                        </a>
                        <a class="no-link" href="/markets/<%= mainLoser.type.name%>/<%= mainLoser.id  %>">
                            <article class="card bg-gray">
                                <h3>Main Loser (24h) </h3>
                                <div class="card-title">
                                    <img src="<%= mainLoser.logo %>" alt="<%= mainLoser.name %> Logo">
                                    <%= mainLoser.name %>
                                        <span class="percentage-change red"><i class="fas fa-arrow-circle-down"
                                                style="margin-right: 4px;"></i>
                                            <%= mainLoser.price_change_24?? '0' %>%
                                        </span>
                                </div>
                                <p class="price">$<%= new Intl.NumberFormat().format(mainLoser.price) %>
                                </p>
                            </article>
                        </a>
                    </div>
                </section>
            </section>
            <h2>Copy the portfolio of our professional traders!</h2>
            <section class="copy-trader">
                <article class="copy-cards">
                    <img src="/img/lucas.jpg" alt="Trader Lucas">
                    <div class="text">
                        <p class="bold">LucasGallina</p>
                        <div>
                            <div>
                                <span class="green bold">54k</span>
                                <span class="bold">Users</span>

                            </div>
                            <div>
                                <span class="green bold">20%</span>
                                <span class="bold">Performance</span>
                            </div>
                        </div>
                    </div>
                </article>
                <article class="copy-cards">
                    <img src="/img/tato.jpg" alt="Trader Tato">
                    <div class="text">
                        <p class="bold">Tato</p>
                        <div>
                            <div>
                                <span class="green bold">20k</span>
                                <span class="bold">Users</span>

                            </div>
                            <div>
                                <span class="green bold">50%</span>
                                <span class="bold">Performance</span>
                            </div>
                        </div>
                    </div>
                </article>
                <article class="copy-cards">
                    <img src="/img/dario.jpg" alt="Trader Dario">
                    <div class="text">
                        <p class="bold">Darioque</p>
                        <div>
                            <div>
                                <span class="green bold">10</span>
                                <span class="bold">Users</span>

                            </div>
                            <div>
                                <span class="red bold">-20%</span>
                                <span class="bold">Performance</span>
                            </div>
                        </div>
                    </div>
                </article>
                <article class="copy-cards">
                    <img src="/img/fede.jpg" alt="Trader Fede">
                    <div class="text">
                        <p class="bold">Fede Loro Meyer</p>
                        <div>
                            <div>
                                <span class="green bold">180k</span>
                                <span class="bold">Users</span>

                            </div>
                            <div>
                                <span class="green bold">95%</span>
                                <span class="bold">Performance</span>
                            </div>
                        </div>
                    </div>
                </article>
            </section>
        </div>
    </main>

    <footer class="footer bg-dark-gray">
        <%- include('../partials/footer') %>
    </footer>
</body>

</html>