<!DOCTYPE html>
<html lang="en">
<head>
    <%- include ('../partials/head') %> 
    <link rel="stylesheet" href="/css/styles-productList.css" />
    <script src="/js/productList.js"></script>
</head>
<body>
    <header class="bg-dark-gray main-header">
        <%- include ('../partials/header') %>
    </header>
    <main>
        <div class="main-container">
            <section>
                <ul class="no-list progressive-links">
                    <li>
                        <a class="no-link" href="/markets/"><span>markets</span></a>
                    </li>
                    <li>
                        <i class="fas fa-chevron-right"></i>
                        <a class="no-link" href="/markets/<%= marketType %>"><span><%= marketType %></span></a>
                    </li>
                </ul>
                <div>
    
                </div>
            </section>
            <section>
                <h1>Explore <%=marketType %>  </h1>

                <div class="cards-container">
                    <div class="card-title">
                        <i class="fas fa-arrow-circle-down"></i>
                        <h2>Biggest Gainers</h2>
                    </div>
                    <div class="table">
                        <div>
                            <ol>
                                <% for (let i = 0; i != 10; i++) %> 
                            </ol>
                        </div>
                    </div>
                </div>
            </section>
            <section>
                <input type="text" name="search" id="search" placeholder="Search Asset" class="search-input">
                    <% if (locals && locals.authenticatedUser) { %>
                        <a href="/markets/<%= marketType %>/create"><button type="button">Add <%= marketType %></button></a>
                    <% } %>                
                <ol class="list">
                    <div class="list-items list-items-title">
                        <p class="name">
                            Name
                        </p>
                        <p class="price">
                            Price
                        </p>
                        <p class="mcap">
                            Market Cap
                        </p>
                        <p class="change">
                            24H Price Change
                        </p>
                    </div>
                    <div id="assetList">
                    </div>
                </ol>
                <div class="pageButtons">
                    <button>1</button>
                    <button>2</button>
                    <button>3</button>
                    <button>4</button>
                </div>
            </section>

            
        </div>
    </main>
    <footer class="bg-dark-gray footer">
        <%- include ('../partials/footer') %> 
    </footer>
    
</body>
</html>