<!DOCTYPE html>
<html lang="en">
<head>
    <%- include ('../partials/head') %> 
    <link rel="stylesheet" href="/css/styles-productList.css" />
    <script src="/js/productList.js"></script>
</head>
<body>
    <header class="bg-dark-gray main-header">
        <%- include ('../partials/header') %>
    </header>
    <main>
        <div class="main-container">
            <section>
                <ul class="no-list progressive-links">
                    <li>
                        <a class="no-link" href="/markets/"><span>Markets</span></a>
                    </li>
                    <li>
                        <i class="fas fa-chevron-right"></i>
                        <a class="no-link" href="/markets/<%= marketType %>"><span><%= marketType.replace(marketType[0], marketType[0].toUpperCase())%></span></a>
                    </li>
                </ul>
                <div>
    
                </div>
            </section>
                <h1>Explore <%=marketType %>  </h1>
            <section>
                <input type="text" name="search" id="search" placeholder="Search Asset" class="search-input">
                    <% if (locals.authenticatedUser && locals.authenticatedUser.admin) { %>
                        <a href="/markets/<%= marketType %>/create"><button type="button">Add <%= marketType %></button></a>
                    <% } %>                
                <ol class="list">
                    <div class="list-items list-items-title">
                        <p class="name" id="nameFilter">
                            Name
                            <i class="fa-solid fa-sort"></i>
                        </p>
                        <p class="price" id="priceFilter">
                            Price
                            <i class="fa-solid fa-sort"></i>
                        </p>
                        <p class="mcap" id="mcapFilter">
                            Market Cap
                            <i class="fa-solid fa-sort"></i>
                        </p>
                        <p class="change" id="changeFilter">
                            Price Change
                            <i class="fa-solid fa-sort"></i>
                        </p>
                    </div>
                    <div id="assetList">
                    </div>
                </ol>
            </section>

            
        </div>
    </main>
    <footer class="bg-dark-gray footer">
        <%- include ('../partials/footer') %> 
    </footer>
    
</body>
</html>