<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./partials/head') %>
        <link rel="stylesheet" href="/css/styles-index.css" />
</head>
<body>

    
        <!-- Encabezado de la página -->
        <header class="header">
            <div class="header-logo"> <!-- logo de encabezado -->
                <a href="/"><img class="logo" src="/img/logo.svg" alt="Logo de UniFi" /></a>
            </div>
            
            <!-- barra de menu hamburguesa y login -->
            <nav class="header-navbar-menu">
                <a href="/login"><i class="fas fa-user-alt icon-login"></i>Login</a>
                <div class="container-menu">                    
                    <a href=""><i class="hamburguer-menu fas fa-bars"></i></a>
                </div>
            </nav>

            <nav class="header-navbar-list"> <!-- barra de navegación del encabezado -->
                <ul class="navbar-menu">
                    <li><a href="#about-us">About Us</a></li>
                    <li><a href="/markets">Products</a></li>
                    <li><a href="/markets/cryptocurrencies">Cryptocurrency</a></li>
                    <li><a href="/markets/stocks">Stocks</a></li>
                </ul>
            </nav>
        </header>

        <!-- Cuerpo del Home -->
        <section class="section-home">
            <div class="container-home">
                <h1 class="welcome-title">
                    The home to all your financial needs. We aim to unify the traditional
                    and decentralized markets, come join us!
                </h1>
                <p>Join millions of people that have discovered UniFi and finally manage all your investments in one place. Choose one of our available services to start:</p>

                <a class="main-button" href="/register">Create an account</a>
            </div>
        </section>

        <div class="box-card-article">
            <aside class="aside-card"> <!-- barra lateral derecha del Home -->
                <div class="card">
                    <h2>Stocks</h2>
                    <p>Invest and trade with no fees in the best choice of stocks out there.</p>
                    <a href="/markets/stocks" class="main-button">Invest in stocks</a>
                    <div class="cards-image">
                        <img src="/img/stocks.svg" alt="">
                    </div>                    
                </div>

                <div class="card">
                    <h2>Crypto</h2>
                    <p>Buy, sell and hold your favorite cryptocurrencies and tokens. We support all EVM-compatible chains.</p>
                    <a href="/markets/cryptocurrencies" class="main-button">Invest in crypto</a>

                    <div class="cards-image">
                        <img src="/img/crypto.svg" alt="">
                    </div>                    
                </div>
            </aside>
        

            <!-- Sección de artículos -->
            <section class="section-article"> 

                <!-- IMPLEMENTANDO EJS -->

                <article>
                    <% for (let asset of assetList) { %>
                        <ul>
                            <li class="article">
                                <img class="image-article" src="<%= asset.logo %>" alt="Logo de BTC"/> 
                                <h3>Currency</h3>
                                <div class="box-price">
                                    <p class="price-article">Price</p>
                                    <p class="value-article"> <%= asset.price %></p>
                                </div>
                                <div class="box-price">
                                    <p class="change-article">Change</p>
                                    <% if (asset.change > 0) { %>
                                        <p class="percentage-article percentage-green"> <%= asset.change %>%</p>
                                    <% } else { %>
                                        <p class="percentage-article percentage-red"> <%= asset.change %>%</p>
                                    <% } %>
                                </div>
                            </li>
                        </ul>
                    <% } %>
                </article>

            </section>
        </div>

        <!-- Pié de página del Home -->
        <footer class="footer">
            <div> <!-- imagen de pie de pagina -->
                <a href="/"><img class="logo" src="/img/logo.svg" alt="Logo de UniFi" /></a>
            </div>            

            <nav class="footer-navbar">
                <ul class="footer-navbar-list"> <!-- enlaces del pie de pagina -->
                    <li><a href="">Contact</a></li>
                    <li><a href="">Help</a></li>
                </ul>
            </nav>

            <p class="copyright">©Todos los derechos reservados a UniFi</p>

        </footer>

    

</body>
</html>