<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../partials/head') %>
    <link rel="stylesheet" href="/css/styles-index.css" />
  </head>
  <body class="bg-dark-gray" id="body">
    <!-- Encabezado de la página -->
    <header class="header">
        <%- include('../partials/header') %>
    </header>

    <main class="main-container">
      <!-- Cuerpo del Home -->
      <section class="section-home">
        <div class="container-home">
          <h1 class="welcome-title">
            The home to all your financial needs. We aim to unify the traditional
            and decentralized markets, come join us!
          </h1>
          <p>
            Join millions of people that have discovered UniFi and finally manage
            all your investments in one place. Choose one of our available
            services to start:
          </p>
          <% if (locals && locals.authenticatedUser) { %>
          <a class="main-button no-link" style="display: none;" href="/register">Create an account</a>
          <% } else { %>
            <a class="main-button no-link" href="/register">Create an account</a>
          <% } %>
        </div>
      </section>
  
      <div class="box-card-article">
        <aside class="aside-card">
          <!-- barra lateral derecha del Home -->
          <div class="card">
            <h2>Stocks</h2>
            <p>
              Invest and trade with no fees in the best choice of stocks out
              there.
            </p>
            <a href="/markets/stocks" class="main-button no-link">Invest in stocks</a>
            <div class="cards-image">
              <img src="/img/stocks.svg" alt="" />
            </div>
          </div>
  
          <div class="card">
            <h2>Crypto</h2>
            <p>
              Buy, sell and hold your favorite cryptocurrencies and tokens. We
              support all EVM-compatible chains.
            </p>
            <a href="/markets/cryptocurrencies" class="main-button no-link"
              >Invest in crypto</a
            >
  
            <div class="cards-image">
              <img src="/img/crypto.svg" alt="" />
            </div>
          </div>
        </aside>
  
        <!-- Sección de artículos -->
        <section class="section-article">
          <!-- IMPLEMENTANDO EJS -->
  
          <article class="main-article">
            <!-- Sección de CRIPTOCURRENCIES -->
            <% if (cryptoList.length != 0) { %>                    
              	<% for (let i=0; i < cryptoList.length; i++) { %>
                	<% if (i < 5) { %>            
						<ul class="ul-list">							
							<li class="article">
								
								<img class="image-article" src="<%= cryptoList[i].logo %>" alt="Logo de <%= cryptoList[i].name %>"/>
						
								<h3 class="name-product"><%= cryptoList[i].name %></h3>
						
								<div class="box-price">
								<p class="price-article">Price</p>
								<p class="value-article"><%= new Intl.NumberFormat().format(cryptoList[i].price) %></p>
								</div>
							
								<div class="box-price">
									<p class="change-article">Change</p>
									<% if (cryptoList[i].price_change_24 > 0) { %>
									<p class="percentage-article percentage-green">
										<%= cryptoList[i].price_change_24 %>%
									</p>
									<% } else { %>
									<p class="percentage-article percentage-red">
										<%= cryptoList[i].price_change_24 %>0%
									</p>
									<% } %>
								</div>															
							</li>
						</ul>
					<% } else { %>
						<% break; %>
					<% } %>
				<% } %>
			<% } %>
			

			<!-- Sección de STOCKS -->
			<% if (stockList.length != 0) { %>                    
				<% for (let i=0; i < stockList.length; i++) { %>
					<% if (i < 5) { %>			
						<ul class="ul-list">
							<li class="article">
								<img class="image-article" src="<%= stockList[i].logo %>" alt="Logo de <%= stockList[i].name %>"/>
								<h3 class="name-product"><%= stockList[i].name %></h3>
								<div class="box-price">
									<p class="price-article">Price</p>
									<p class="value-article"><%= new Intl.NumberFormat().format(stockList[i].price) %></p>
								</div>
								<div class="box-price">
									<p class="change-article">Change</p>
									<% if (stockList[i].price_change_24 > 0) { %>
									<p class="percentage-article percentage-green">
										<%= stockList[i].price_change_24 %>%
									</p>
									<% } else { %>
									<p class="percentage-article percentage-red">
										<%= stockList[i].price_change_24 %>0%
									</p>
									<% } %>
								</div>
							</li>
						</ul>
					<% } else { %>
						<% break; %>
					<% } %>
				<% } %>
			<% } %>
       	   </article>
        </section>
	</div>

	<div id="about-us">
		<section class="title-members">
			<h2>Members</h2>
			<p>UniFi fue fundada por Dario Skidelsky, Federico Loro Meyer, Leonardo Bujan y Lucas Introzzi, personas apasionadas por el mundo cripto y de las finanzas. Su creencia apunta a que, tanto la programación como así también las criptomonedas serán muy importantes en el futuro venidero.</p>
		</section>

		<div class="card-members">
			<section class="name-text">
				<h3>Dario Skidelsky</h3>
				<p>Tengo 23 años y soy estudiante de Ing. En sistemas de información en UTN-FRC. Tengo conocimientos básicos de programación, lo disfruto y espero profundizar mis conocimientos con este proyecto.</p>
			</section>
			<img src="/img/dario.jpg" class="image-index">
		</div>

		<div class="card-members">
			<section class="name-text">
				<h3>Federico Loro Meyer</h3>
				<p>Apasionado por las finanzas y el mundo Crypto. Tengo 25 años, estudié Lic. en Economía e hice una Maestría en Finanzas. Trabajo como trader en un broker de Crypto muy grande y quiero aprender a programar para darle la chance de un giro a mi carrera laboral en caso de así quererlo.</p>
			</section>
			<img src="/img/fede.jpg" class="image-index">
		</div>

		
		<div class="card-members">
			<section class="name-text">
				<h3>Lucas Introzzi</h3>
				<p>Tengo 21 años y si bien estudie nutrición un año se me genero una curiosidad enorme por la programación. Antes de ingresar al curso tenia un leve conocimiento sobre HTML y CSS. Espero dar mi maximo esfuerzo en este proyecto y seguir aprendiendo cada día mas.</p>
			</section>
			<img src="/img/lucas.jpg" class="image-index">
		</div>
		
		<div class="card-members">
			<section class="name-text">
				<h3>Leonardo Bujan</h3>
				<p>Soy de Curuzú Cuatiá (Corrientes), tengo 35 años de edad y me gusta mucho la programación. Estudié 3 años de Licenciatura en sistemas y fue ahí donde nació esta pasión. Me decidí a hacer el curso para adquirir más conocimientos acerca de programación y poder dedicarme profesionalmente a lo que me gusta.</p>
			</section>
			<img src="/img/tato.jpg" class="image-index">
		</div>
	</div>
    </main>

    <!-- Pié de página del Home -->
    <footer class="footer"><%- include('../partials/footer') %></footer>
  </body>
</html>