<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../partials/head') %>
    <link rel="stylesheet" href="/css/styles-index.css" />
  </head>
  <body class="bg-dark-gray" id="body">
    <!-- Encabezado de la página -->
    <header class="header">
        <%- include('../partials/header') %>
    </header>

    <main class="main-container">
      <!-- Cuerpo del Home -->
      <section class="section-home">
        <div class="container-home">
          <h1 class="welcome-title">
            The home to all your financial needs. We aim to unify the traditional
            and decentralized markets, come join us!
          </h1>
          <p>
            Join millions of people that have discovered UniFi and finally manage
            all your investments in one place. Choose one of our available
            services to start:
          </p>
          <% if (locals && locals.authenticatedUser) { %>
          <a class="main-button no-link" style="display: none;" href="/register">Create an account</a>
          <% } else { %>
            <a class="main-button no-link" href="/register">Create an account</a>
          <% } %>
        </div>
      </section>
  
      <div class="box-card-article">
        <aside class="aside-card">
          <!-- barra lateral derecha del Home -->
          <div class="card">
            <h2>Stocks</h2>
            <p>
              Invest and trade with no fees in the best choice of stocks out
              there.
            </p>
            <a href="/markets/stocks" class="main-button no-link">Invest in stocks</a>
            <div class="cards-image">
              <img src="/img/stocks.svg" alt="" />
            </div>
          </div>
  
          <div class="card">
            <h2>Crypto</h2>
            <p>
              Buy, sell and hold your favorite cryptocurrencies and tokens. We
              support all EVM-compatible chains.
            </p>
            <a href="/markets/cryptocurrencies" class="main-button no-link"
              >Invest in crypto</a
            >
  
            <div class="cards-image">
              <img src="/img/crypto.svg" alt="" />
            </div>
          </div>
        </aside>
  
        <!-- Sección de artículos -->
        <section class="section-article">
          <!-- IMPLEMENTANDO EJS -->
  
          <article>
            <% for (let i = 0; i != 5; i++) { %>
            <ul>
              <li class="article">
                <img
                  class="image-article"
                  src="<%= cryptoList[i].logo %>"
                  alt="Logo de <%= cryptoList[i].name %>"
                />
                <h3><%= cryptoList[i].name %></h3>
                <div class="box-price">
                  <p class="price-article">Price</p>
                  <p class="value-article"><%= cryptoList[i].price %></p>
                </div>
                <div class="box-price">
                  <p class="change-article">Change</p>
                  <% if (cryptoList[i].change > 0) { %>
                  <p class="percentage-article percentage-green">
                    <%= cryptoList[i].change %>%
                  </p>
                  <% } else { %>
                  <p class="percentage-article percentage-red">
                    <%= cryptoList[i].change %>0%
                  </p>
                  <% } %>
                </div>
              </li>
            </ul>
            <% } %> <% for (let i = 0; i != 5; i++) { %>
            <ul>
              <li class="article">
                <img
                  class="image-article"
                  src="<%= stockList[i].logo %>"
                  alt="Logo de <%= stockList[i].name %>"
                />
                <h3><%= stockList[i].name %></h3>
                <div class="box-price">
                  <p class="price-article">Price</p>
                  <p class="value-article"><%= stockList[i].price %></p>
                </div>
                <div class="box-price">
                  <p class="change-article">Change</p>
                  <% if (stockList[i].change > 0) { %>
                  <p class="percentage-article percentage-green">
                    <%= stockList[i].change %>%
                  </p>
                  <% } else { %>
                  <p class="percentage-article percentage-red">
                    <%= stockList[i].change %>0%
                  </p>
                  <% } %>
                </div>
              </li>
            </ul>
            <% } %>
          </article>
        </section>
      </div>

    </main>

    <!-- Pié de página del Home -->
    <footer class="footer"><%- include('../partials/footer') %></footer>
  </body>
</html>
