<!DOCTYPE html>
<html lang="en">

<head>
    <%- include ('../partials/head') %>
    <link rel="stylesheet" href="/css/styles-productList.css" />
    <script src="/js/productList.js"></script>
</head>

<body>
    <header class="bg-dark-gray main-header">
        <%- include ('../partials/header') %>
    </header>
    <main>
        <div class="main-container">
            <section>
                <ul class="no-list progressive-links">
                    <li>
                        <a class="no-link" href="/users/"><span>Users</span></a>
                    </li>
                    <li>
                        <i class="fas fa-chevron-right"></i>
                        <a class="no-link" href="/users/wallet"><span>
                                Wallet
                            </span></a>
                    </li>
                    <li>
                        <i class="fas fa-chevron-right"></i>
                        <a class="no-link" href="/users/wallet/transactions"><span>
                                Transactions
                            </span></a>
                    </li>
                </ul>
                <div>

                </div>
            </section>
            <section>
                        <ol class="list">
                            <div class="list-items list-items-title">
                                <p class="price">
                                    Date
                                </p>
                                <p class="name">
                                    Input Asset
                                </p>
                                <p class="name">
                                    Output Asset
                                </p>
                                <p class="change">
                                    Amount Purchased
                                </p>
                                <p class="mcap">
                                    Price
                                </p>
                            </div>
                            <% if (transactions.length == 0) { %>
                                <p class="text-center">No transactions found</p>
                            <% } %>
                            <% for (let transaction of transactions) { %>
                                <span class="no-link" href="/users/wallet/<%= transaction.id%>">
                                    <li class="no-list">
                                        <div class="list-items">
                                            <p class="mcap">
                                                <%= moment(transaction.created_at).format('D MMM, YYYY HH:mm') %> 
                                            </p>
                                            <div class="name">
                                                <img class="currency-logo" src="<%= transaction.input.logo %>"
                                                    alt="Logo de <%= transaction.input.ticker %>" />
                                                <a style="margin-right: 4px; font-weight: bold" class="no-link" href="/markets/<%= transaction.input.type.name %>/<%= transaction.input.id %>">
                                                    <%= transaction.input.name%>
                                                </a>
                                                <p style="font-size:12px; color:rgb(128, 138,157);"><%= transaction.input.ticker%></p>

                                            </div>

                                            <div class="name">
                                                <img class="currency-logo" src="<%= transaction.output.logo %>"
                                                    alt="Logo de <%= transaction.output.ticker %>" />
                                                <a style="margin-right: 4px; font-weight: bold" class="no-link" href="/markets/<%= transaction.output.type.name %>/<%= transaction.output.id %>">
                                                    <%= transaction.output.name%>
                                                </a>
                                                <p style="font-size:12px; color:rgb(128, 138,157);"><%= transaction.output.ticker%></p>

                                            </div>
                                            <p class="price">
                                                <%= transaction.amount %>
                                            </p>
                                            <p class="price">
                                                <%= transaction.price / transaction.amount %>
                                            </p>
                                        </div>
                                    </li>
                                </span>
                                <% } %>
                        </ol>
            </section>


        </div>
    </main>
    <footer class="bg-dark-gray footer">
        <%- include ('../partials/footer') %>
    </footer>
</body>

</html>