<!DOCTYPE html>
<html lang="en">

<head>
    <%- include ('../partials/head') %>
    <link rel="stylesheet" href="/css/styles-productList.css" />
</head>

<body>
    <header class="bg-dark-gray main-header">
        <%- include ('../partials/header') %>
    </header>
    <main>
        <div class="main-container">
            <section>
                <ul class="no-list progressive-links">
                    <li>
                        <a class="no-link" href="/users/"><span>Users</span></a>
                    </li>
                    <li>
                        <i class="fas fa-chevron-right"></i>
                        <a class="no-link" href="/users/wallet"><span>
                                Wallet
                            </span></a>
                    </li>
                </ul>
                <div>

                </div>
            </section>
            <section>
                        <ol class="list">
                            <div class="list-items list-items-title">
                                <p class="name">
                                    Name
                                </p>
                                <p class="price">
                                    Balance
                                </p>
                                <p class="price">
                                    Price
                                </p>
                                <p class="mcap">
                                    Holdings
                                </p>
                                <p class="change">
                                    24H Price Change
                                </p>
                            </div>
                            <% if (walletAssets.length == 0) { %>
                                <p class="text-center">No assets found</p>
                            <% } %>
                            <% for (let asset of walletAssets) { %>
                                <a class="no-link" href="/markets/<%= asset.type.name%>/<%= asset.id%>">
                                    <li class="no-list">
                                        <div class="list-items">
                                            <div class="name">
                                                <img class="currency-logo" src="<%= asset.logo %>"
                                                    alt="Logo de <%= asset.ticker %>" />
                                                <p style="margin-right: 4px; font-weight: bold">
                                                    <%= asset.name%>
                                                    <p style="font-size:12px; color:rgb(128, 138,157);"><%= asset.ticker%></p>
                                                </p>

                                            </div>
                                            <p class="price">
                                                <%= new Intl.NumberFormat().format(asset.AssetUser.amount) %>
                                            </p>
                                            <p class="price">
                                                $<%= new Intl.NumberFormat().format(asset.price) %>
                                            </p>
                                            <p class="mcap">
                                                $<%= new Intl.NumberFormat().format(asset.price * asset.AssetUser.amount) %>
                                            </p>
                                            <% if (asset.price_change_24 < 0) { %>
                                                <p class="change red">
                                                    <%= asset.price_change_24 %>%
                                                </p>
                                                <% } else if (asset.price_change_24 > 0) {%>
                                                    <p class="change green">
                                                        <%= asset.price_change_24 %>%
                                                    </p>
                                                    <% } else { %>
                                                        <p class="change gray">
                                                            0%
                                                        </p>
                                                   <% } %>
                                        </div>
                                    </li>
                                </a>
                                <% } %>
                        </ol>
            </section>


        </div>
    </main>
    <footer class="bg-dark-gray footer">
        <%- include ('../partials/footer') %>
    </footer>
</body>

</html>