<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../partials/head') %>
      <link rel="stylesheet" href="/css/styles-register.css" />
  </head>
    <body>
        <div class="container">
            <div class="card">
                <div class="inner-box">
                    <header class="main-header">
                        <%- include('../partials/header') %>
                    </header>
                      <!-- Si se enviaron mensajes de error a la vista de registro, mostrarlos -->
                        <% if (locals && locals.errorMessages) { %>
                          <% for(let error in errorMessages) { %>
                            <p class="errors"><%= errorMessages[error].msg %> </p>
                          <% } %>
                        <% } %>
                        <form method="POST" action="/register" enctype="multipart/form-data">
                          <!-- Si existe la variable old (es decir el usuario se intentó registrar y la validación lo rechazó)
                          colocarlo como valor por defecto del input para que quede disponible para editar -->
                            <input type="email" name="email" class="input-box" placeholder="Email" value="<%= locals.old && old.email ? old.email : '' %>" required>
                            <input type="password" name="password" class="input-box" placeholder="Password" value="<%= locals.old && old.password ? old.password : '' %>" required>
                            <input type="file" name="avatar" class="input-box" placeholder="Avatar" value="<%= locals.old && old.avatar ? old.avatar : '' %>" required>
                            <button type="submit" class="login-btm">Register</button>
                            <div><span><input type="checkbox">Remember Me</span></div>
                            <button><img class="image-article" src="/img/37784886.jpg" alt="Wallet"/>Wallet Connect</button>
                        </form>
                        <div><a class="account" href="/login">Already have an account? login</a></div>
  </body>
<footer>
    <%- include('../partials/footer') %>
</footer>
